In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/drive/MyDrive/PrepinstaPrime/Excel Datasets/Copy of Data-cleaning-for-beginners-using-pandas.csv")
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [5]:
data["Age"] = data["Age"].fillna(round(data["Age"].mean(), 1))
data["Age"] = data["Age"].astype("int");
data

    Index  Age      Salary  Rating       Location  Established Easy Apply
0       0   44   $44k-$99k     5.4       India,In         1999       TRUE
1       1   66   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   39   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3   64   $44k-$99k     4.4       India In         1988         -1
4       4   25   $44k-$99k     6.4  Australia Aus         2002         -1
5       5   44   $77k-$89k     1.4       India,In         1999       TRUE
6       6   21   $44k-$99k     0.0    New York,Ny           -1         -1
7       7   44   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8   35   $44k-$99k     5.4    New York,Ny           -1         -1
9       9   22   $44k-$99k     7.7       India,In           -1       TRUE
10     10   55   $10k-$49k     5.4       India,In         2008       TRUE
11     11   44   $10k-$49k     6.7       India,In         2009         -1
12     12   39   $44k-$99k     0.0       India,In         1999         -1
13     13   25   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14   66   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15   44  $88k-$101k     3.0  Australia Aus         1999         -1
16     16   19   $19k-$40k     4.5       India,In         1984         -1
17     17   39   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18   35   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19   32   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   39   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21   35   $44k-$99k     5.0    New York,Ny         1946         -1
22     22   19   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   39   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24   13   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25   55   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   39   $55k-$66k     NaN       India,In         1934       TRUE
27     27   52   $44k-$99k     5.4       India,In         1935         -1
28     28   39   $39k-$88k     3.4  Australia Aus         1932         -1

In [6]:
data["Salary"] = data["Salary"].str.replace('k','000')
data["Salary"] = data["Salary"].str.replace('$','')
data

<ipython-input-6-edb5e95280db>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Salary"] = data["Salary"].str.replace('$','')

    Index  Age        Salary  Rating       Location  Established Easy Apply
0       0   44   44000-99000     5.4       India,In         1999       TRUE
1       1   66   55000-66000     3.5    New York,Ny         2002       TRUE
2       2   39   77000-89000    -1.0    New York,Ny           -1         -1
3       3   64   44000-99000     4.4       India In         1988         -1
4       4   25   44000-99000     6.4  Australia Aus         2002         -1
5       5   44   77000-89000     1.4       India,In         1999       TRUE
6       6   21   44000-99000     0.0    New York,Ny           -1         -1
7       7   44   44000-99000    -1.0  Australia Aus           -1         -1
8       8   35   44000-99000     5.4    New York,Ny           -1         -1
9       9   22   44000-99000     7.7       India,In           -1       TRUE
10     10   55   10000-49000     5.4       India,In         2008       TRUE
11     11   44   10000-49000     6.7       India,In         2009         -1
12     12   39   44000-99000     0.0       India,In         1999         -1
13     13   25   44000-99000    -1.0  Australia Aus         2019       TRUE
14     14   66   44000-99000     4.0  Australia Aus         2020       TRUE
15     15   44  88000-101000     3.0  Australia Aus         1999         -1
16     16   19   19000-40000     4.5       India,In         1984         -1
17     17   39   44000-99000     5.3    New York,Ny         1943       TRUE
18     18   35   44000-99000     6.7    New York,Ny         1954       TRUE
19     19   32   44000-99000     3.3    New York,Ny         1955       TRUE
20     20   39   44000-99000     5.7    New York,Ny         1944       TRUE
21     21   35   44000-99000     5.0    New York,Ny         1946         -1
22     22   19   55000-66000     7.8    New York,Ny         1988       TRUE
23     23   39   44000-99000     2.4    New York,Ny         1999       TRUE
24     24   13   44000-99000    -1.0    New York,Ny         1987         -1
25     25   55   44000-99000     0.0  Australia Aus         1980       TRUE
26     26   39   55000-66000     NaN       India,In         1934       TRUE
27     27   52   44000-99000     5.4       India,In         1935         -1
28     28   39   39000-88000     3.4  Australia Aus         1932         -1

In [7]:
data["Rating"] = data["Rating"].apply(lambda x: None if x == -1 else x)
data

    Index  Age        Salary  Rating       Location  Established Easy Apply
0       0   44   44000-99000     5.4       India,In         1999       TRUE
1       1   66   55000-66000     3.5    New York,Ny         2002       TRUE
2       2   39   77000-89000     NaN    New York,Ny           -1         -1
3       3   64   44000-99000     4.4       India In         1988         -1
4       4   25   44000-99000     6.4  Australia Aus         2002         -1
5       5   44   77000-89000     1.4       India,In         1999       TRUE
6       6   21   44000-99000     0.0    New York,Ny           -1         -1
7       7   44   44000-99000     NaN  Australia Aus           -1         -1
8       8   35   44000-99000     5.4    New York,Ny           -1         -1
9       9   22   44000-99000     7.7       India,In           -1       TRUE
10     10   55   10000-49000     5.4       India,In         2008       TRUE
11     11   44   10000-49000     6.7       India,In         2009         -1
12     12   39   44000-99000     0.0       India,In         1999         -1
13     13   25   44000-99000     NaN  Australia Aus         2019       TRUE
14     14   66   44000-99000     4.0  Australia Aus         2020       TRUE
15     15   44  88000-101000     3.0  Australia Aus         1999         -1
16     16   19   19000-40000     4.5       India,In         1984         -1
17     17   39   44000-99000     5.3    New York,Ny         1943       TRUE
18     18   35   44000-99000     6.7    New York,Ny         1954       TRUE
19     19   32   44000-99000     3.3    New York,Ny         1955       TRUE
20     20   39   44000-99000     5.7    New York,Ny         1944       TRUE
21     21   35   44000-99000     5.0    New York,Ny         1946         -1
22     22   19   55000-66000     7.8    New York,Ny         1988       TRUE
23     23   39   44000-99000     2.4    New York,Ny         1999       TRUE
24     24   13   44000-99000     NaN    New York,Ny         1987         -1
25     25   55   44000-99000     0.0  Australia Aus         1980       TRUE
26     26   39   55000-66000     NaN       India,In         1934       TRUE
27     27   52   44000-99000     5.4       India,In         1935         -1
28     28   39   39000-88000     3.4  Australia Aus         1932         -1

In [8]:
# Location
data['Location'] = data['Location'].replace({'India,In': 'India', 'New York,Ny':'New York','Australia Aus': 'Australia', 'India In': 'India', 'Austraila Aus': 'Australia'})
data

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000     5.4      India         1999       TRUE
1       1   66   55000-66000     3.5   New York         2002       TRUE
2       2   39   77000-89000     NaN   New York           -1         -1
3       3   64   44000-99000     4.4      India         1988         -1
4       4   25   44000-99000     6.4  Australia         2002         -1
5       5   44   77000-89000     1.4      India         1999       TRUE
6       6   21   44000-99000     0.0   New York           -1         -1
7       7   44   44000-99000     NaN  Australia           -1         -1
8       8   35   44000-99000     5.4   New York           -1         -1
9       9   22   44000-99000     7.7      India           -1       TRUE
10     10   55   10000-49000     5.4      India         2008       TRUE
11     11   44   10000-49000     6.7      India         2009         -1
12     12   39   44000-99000     0.0      India         1999         -1
13     13   25   44000-99000     NaN  Australia         2019       TRUE
14     14   66   44000-99000     4.0  Australia         2020       TRUE
15     15   44  88000-101000     3.0  Australia         1999         -1
16     16   19   19000-40000     4.5      India         1984         -1
17     17   39   44000-99000     5.3   New York         1943       TRUE
18     18   35   44000-99000     6.7   New York         1954       TRUE
19     19   32   44000-99000     3.3   New York         1955       TRUE
20     20   39   44000-99000     5.7   New York         1944       TRUE
21     21   35   44000-99000     5.0   New York         1946         -1
22     22   19   55000-66000     7.8   New York         1988       TRUE
23     23   39   44000-99000     2.4   New York         1999       TRUE
24     24   13   44000-99000     NaN   New York         1987         -1
25     25   55   44000-99000     0.0  Australia         1980       TRUE
26     26   39   55000-66000     NaN      India         1934       TRUE
27     27   52   44000-99000     5.4      India         1935         -1
28     28   39   39000-88000     3.4  Australia         1932         -1

In [9]:
data["Established"] = data["Established"].apply(lambda x: None if x == -1 else x)
data

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000     5.4      India       1999.0       TRUE
1       1   66   55000-66000     3.5   New York       2002.0       TRUE
2       2   39   77000-89000     NaN   New York          NaN         -1
3       3   64   44000-99000     4.4      India       1988.0         -1
4       4   25   44000-99000     6.4  Australia       2002.0         -1
5       5   44   77000-89000     1.4      India       1999.0       TRUE
6       6   21   44000-99000     0.0   New York          NaN         -1
7       7   44   44000-99000     NaN  Australia          NaN         -1
8       8   35   44000-99000     5.4   New York          NaN         -1
9       9   22   44000-99000     7.7      India          NaN       TRUE
10     10   55   10000-49000     5.4      India       2008.0       TRUE
11     11   44   10000-49000     6.7      India       2009.0         -1
12     12   39   44000-99000     0.0      India       1999.0         -1
13     13   25   44000-99000     NaN  Australia       2019.0       TRUE
14     14   66   44000-99000     4.0  Australia       2020.0       TRUE
15     15   44  88000-101000     3.0  Australia       1999.0         -1
16     16   19   19000-40000     4.5      India       1984.0         -1
17     17   39   44000-99000     5.3   New York       1943.0       TRUE
18     18   35   44000-99000     6.7   New York       1954.0       TRUE
19     19   32   44000-99000     3.3   New York       1955.0       TRUE
20     20   39   44000-99000     5.7   New York       1944.0       TRUE
21     21   35   44000-99000     5.0   New York       1946.0         -1
22     22   19   55000-66000     7.8   New York       1988.0       TRUE
23     23   39   44000-99000     2.4   New York       1999.0       TRUE
24     24   13   44000-99000     NaN   New York       1987.0         -1
25     25   55   44000-99000     0.0  Australia       1980.0       TRUE
26     26   39   55000-66000     NaN      India       1934.0       TRUE
27     27   52   44000-99000     5.4      India       1935.0         -1
28     28   39   39000-88000     3.4  Australia       1932.0         -1

In [10]:
data["Easy Apply"] = data["Easy Apply"].str.replace("-1", "FALSE")
data

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000     5.4      India       1999.0       TRUE
1       1   66   55000-66000     3.5   New York       2002.0       TRUE
2       2   39   77000-89000     NaN   New York          NaN      FALSE
3       3   64   44000-99000     4.4      India       1988.0      FALSE
4       4   25   44000-99000     6.4  Australia       2002.0      FALSE
5       5   44   77000-89000     1.4      India       1999.0       TRUE
6       6   21   44000-99000     0.0   New York          NaN      FALSE
7       7   44   44000-99000     NaN  Australia          NaN      FALSE
8       8   35   44000-99000     5.4   New York          NaN      FALSE
9       9   22   44000-99000     7.7      India          NaN       TRUE
10     10   55   10000-49000     5.4      India       2008.0       TRUE
11     11   44   10000-49000     6.7      India       2009.0      FALSE
12     12   39   44000-99000     0.0      India       1999.0      FALSE
13     13   25   44000-99000     NaN  Australia       2019.0       TRUE
14     14   66   44000-99000     4.0  Australia       2020.0       TRUE
15     15   44  88000-101000     3.0  Australia       1999.0      FALSE
16     16   19   19000-40000     4.5      India       1984.0      FALSE
17     17   39   44000-99000     5.3   New York       1943.0       TRUE
18     18   35   44000-99000     6.7   New York       1954.0       TRUE
19     19   32   44000-99000     3.3   New York       1955.0       TRUE
20     20   39   44000-99000     5.7   New York       1944.0       TRUE
21     21   35   44000-99000     5.0   New York       1946.0      FALSE
22     22   19   55000-66000     7.8   New York       1988.0       TRUE
23     23   39   44000-99000     2.4   New York       1999.0       TRUE
24     24   13   44000-99000     NaN   New York       1987.0      FALSE
25     25   55   44000-99000     0.0  Australia       1980.0       TRUE
26     26   39   55000-66000     NaN      India       1934.0       TRUE
27     27   52   44000-99000     5.4      India       1935.0      FALSE
28     28   39   39000-88000     3.4  Australia       1932.0      FALSE

In [12]:
data.isna().sum()

Index          0
Age            0
Salary         0
Rating         5
Location       0
Established    5
Easy Apply     0
dtype: int64